.blue-color {
    color: cyan;
}

body {
    background-image: url('./img/ramen.jpg');
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 10vh;
    width: 100vw;
}

nav button {
    padding: 10px;
}

#content {
    width: 100vw;
    height: 90vh; 
}




.contentHome {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr 50px 1fr 50px 10px;       
}

.center, .footer {
    text-align: center;
    color: black;
    font-size: 24px;
}

.center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}



#content {
    display: flex;
    justify-content: center;
}

.menuBoard {
    display: flex;
    flex-direction: column;

    width: 30vw;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 20px;
}

.menuHeader {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContent {
    flex: 5;
    
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 60%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.menuRamenPic {
    width: 90%;
    height: 90%;
}

.menuItem {
    padding-top: 20%;
    align-self: start;
}