.blue-color {
    color: cyan;
}

body {
    background-image: url('./img/ramen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;    
}

.darkOverlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.342);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 10vh;
    width: 100vw;
}

nav button {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

#content {
    width: 100vw;
    height: 90vh; 
}




.contentHome {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr 70px 1fr 70px 10px;       
}

.center, .footer {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
}

.center {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}



.contentMenu {
    display: flex;
    justify-content: center;
}

.menuBoard {
    display: flex;
    flex-direction: column;

    width: 30vw;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 20px;
}

.menuHeader {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menuContent {
    flex: 5;
    
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 60%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
}

.menuRamenPic {
    width: 70%;
    height: auto;
}

.menuRamenPic2 {
    width: 85%;
    height: auto;
}

.menuItem {
    margin-top: 30%;
    align-self: start;
    font-size: 14px;
    padding: 5px;
}

.menuItem > h5 {
    font-size: 18px;
    padding-bottom: 5%;
}

.aboutBoard {
    padding: 2%;
}

.aboutHeader > h2 {
    padding-bottom: 5%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
}

.aboutContent {
    overflow: auto;
    font-size: 16px;
    font-style: italic;
    color: white;
}